.logo-airbnb{
    max-width: 100%;
    object-fit: cover;
}
.header-sub{
        height: 70px;
        display: flex;
        // padding: 20px 36px;
        top: 0px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 2.98256px 7.4564px rgba(247, 246, 246, 0.1);
}