.grid-image{
    mix-blend-mode: multiply;
    padding: 9px 9px;
    width: 650px;

    
}
.gird-view{
    background-color: rgb(240, 235, 235);
    margin-top: 0px;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #fabfbf;

}